<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stopboot.admin.mapper.custom.help.StopBootTableMapper">

    <resultMap id="TableListResultMap" type="com.stopboot.admin.model.help.datasource.table.list.TableListVO" >
        <result column="table_name" property="tableName" jdbcType="VARCHAR" />
        <result column="table_schema" property="tableSchema" jdbcType="VARCHAR" />
        <result column="engine" property="engine" jdbcType="VARCHAR" />
        <result column="table_collation" property="tableCollation" jdbcType="VARCHAR" />
        <result column="table_comment" property="tableComment" jdbcType="VARCHAR" />
    </resultMap>



    <resultMap id="TableColumnsResultMap" type="com.stopboot.admin.model.help.datasource.table.columns.TableColumnsVO" >
        <result column="ordinal_position" property="ordinalPosition" jdbcType="VARCHAR" />
        <result column="column_name" property="columnName" jdbcType="VARCHAR" />
        <result column="data_type" property="dataType" jdbcType="VARCHAR" />
        <result column="is_nullable" property="nullable" jdbcType="VARCHAR" />
        <result column="column_comment" property="columnComment" jdbcType="VARCHAR" />
        <result column="column_key" property="columnKey" jdbcType="VARCHAR" />
    </resultMap>
    <!--根据姓名模糊查询 -->
    <select id="getTableList" resultMap="TableListResultMap">
       SELECT table_schema,
               table_name,
               engine,
               table_collation,
               table_comment
        FROM information_schema.TABLES
        WHERE TABLE_SCHEMA = (SELECT DATABASE())
    </select>

    <select id="getTableColumns" parameterType="java.lang.String" resultMap="TableColumnsResultMap">
        select ordinal_position,
               column_name,
               data_type,
               is_nullable,
               column_comment,
               column_key
        from information_schema.columns
        where table_schema = (SELECT DATABASE())
          and table_name =  #{tableName,jdbcType=VARCHAR}
        order by Ordinal_position;
    </select>

</mapper>
